<?xml version="1.0"?>
<config>
    <modules>
        <Abdo_Vaimo>
            <version>0.1.8</version>
        </Abdo_Vaimo>
    </modules>

    <global>
        <blocks>
            <abdo_vaimo_adminhtml>
                <class>Abdo_Vaimo_Block_Adminhtml</class>
            </abdo_vaimo_adminhtml>
        </blocks>

        <helpers>
            <abdo_vaimo>
                <class>Abdo_Vaimo_Helper</class>
            </abdo_vaimo>
        </helpers>

        <models>
            <abdo_vaimo>
                <class>Abdo_Vaimo_Model</class>
                <resourceModel>abdo_vaimo_resource</resourceModel>
            </abdo_vaimo>
            <abdo_vaimo_resource>
                <class>Abdo_Vaimo_Model_Resource</class>
                <entities>
                    <accmanagers>
                        <table>abdo_vaimo_accmanagers</table>
                    </accmanagers>
                </entities>
            </abdo_vaimo_resource>
        </models>

        <resources>
            <abdo_vaimo_setup>
                <setup>
                    <module>Abdo_Vaimo</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </abdo_vaimo_setup>
        </resources>

    </global>

    <admin>
        <routers>
            <abdo_vaimo_admin>
                <use>admin</use>
                <args>
                    <module>Abdo_Vaimo_Adminhtml</module>
                    <frontName>accmanagers-directory-admin</frontName>
                </args>
            </abdo_vaimo_admin>
        </routers>
    </admin>

</config>